@value media-query-large, media-query-medium, media-query-small from '../../common/size.css';

.videoList {
  display: grid;
}

.grid {
  grid-template-columns: repeat(5, 1fr);
}

.list {
  grid-template-columns: repeat(1, 1fr);
}

/* +++++++++++++++++ media query +++++++++++++++++ */
@media only screen and (max-width: media-query-large) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: media-query-medium) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: media-query-small) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
