@value XXXLarge-size, Large-size, small-space from '../../common/size.css';
@value black-color, blue-color, search-border-color, light-gray-color, none-white-color from '../../common/colors.css';

.keywordSearch {
  display: flex;
  height: calc(XXXLarge-size * 1.1);
}

.input {
  width: calc(XXXLarge-size * 10);
  font-size: Large-size;
  border: solid search-border-color;
  padding: small-space calc(small-space * 4);
  box-sizing: border-box;
}

.input:focus {
  width: calc(XXXLarge-size * 10 - 1px);
  margin-right: 1px;
  outline: blue-color solid 1px;
}

.button {
  background-color: none-white-color;
  padding: small-space calc(small-space * 4);
  border: solid search-border-color;
  cursor: pointer;
  font-size: Large-size;
  color: black-color;
}

.button:hover {
  background-color: light-gray-color;
}
