@value black-color, dark-gray-color from '../../common/colors.css';
@value Large-size, small-size, small-space from '../../common/size.css';

/* icons */
button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: Large-size;
  color: dark-gray-color;
}

.icon.active {
  color: black-color;
  font-weight: bold;
}

button span {
  padding: small-space;
  font-size: small-size;
  color: dark-gray-color;
}
