* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 98.9vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
  max-width: 1536px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

hr {
  border: none;
  height: 1px;
  background-color: #ececec;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration-line: none;
}

input {
  outline: none;
}

.keywordItemSelected {
  background-color: #ececec;
}
